<%
    const truncatedID = user.id.slice(0, 30) + '...';
    const addressesLength = addresses.length
%>

<main>
    <section>
        <div class="account-nav-wrapper">
            <div class="hstack gap-4 justify-content-center align-items-center account-nav">
                <span class="account-nav-item"><a href="/account">Orders</a></span>
                <span class="account-nav-item chosen"><a href="/account/addresses">Profile</a></span>
                <span class="account-nav-logout"><a href="/logout">Logout</a></span>
            </div>
        </div>
    </section>

    <!-- USER'S PROFILE -->
    <section>
        <div class="section-wrapper">
            <div class="vstack gap-4 align-items-center justify-content-center">
                <span class="title">Profile</span>
                <div class="user-avatar">
                    <!-- Thay cái url bằng url avatar của user -->
                    <div class="user-img" <% if(user.avatar !== undefined) { %>style="--_img_url: url('<%= user.avatar %>')"<% } %>>
                    </div>
                </div>
                <div class="user-profile-wrapper">
                    <div class="user-profile-tab">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="bold-text">User ID:</span>
                            <span class="light-text"><%= truncatedID %></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="bold-text">Email:</span>
                            <span class="light-text"><%= user.email %></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="bold-text">Name:</span>
                            <span class="light-text">
                                <% if(user.name !== undefined) { %>
                                    <%= user.name %>
                                <% } else { %>
                                    Not set
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <div class="user-profile-tab">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="bold-text">Gender:</span>
                            <span class="light-text">
                                <% if(user.gender !== undefined) { %>
                                    <%= user.gender %>
                                <% } else { %>
                                    Not set
                                <% } %>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="bold-text">Date of birth:</span>
                            <span class="light-text">
                                <% if(user.dob !== undefined) { %>
                                    <%= user.dob %>
                                <% } else { %>
                                    Not set
                                <% } %>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="bold-text">Phone number:</span>
                            <span class="light-text">
                                <% if(user.phone !== undefined) { %>
                                    <%= user.phone %>
                                <% } else { %>
                                    Not set
                                <% } %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="hstack gap-4 justify-content-center">
                    <button type="button" class="black-btn" data-bs-toggle="offcanvas" data-bs-target="#editProfileOffcanvas" aria-controls="editProfileOffcanvas">Edit profile</button>
                    <button type="button" class="black-btn" data-bs-toggle="offcanvas" data-bs-target="#changePasswordOffcanvas" aria-controls="changePasswordOffcanvas">
                        <% if(user.password !== undefined) { %>
                            Change password
                        <% } else { %>
                            Set password
                        <% } %>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <% if(addressesLength === 0) { %>
    <section>
        <div class="empty-state-wrapper">
            <div class="vstack gap-4 align-items-center justify-content-center">
                <div class="icon-wrapper">
                    <svg role="presentation" fill="none" focusable="false" stroke-width="1" width="48" height="48" class="icon icon-picto-pin" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.223 9.51c0 5.526-5.047 10.497-7.233 12.392a1.5 1.5 0 0 1-1.98 0C8.823 20.007 3.776 15.035 3.776 9.51a8.224 8.224 0 0 1 16.447 0Zm-4.855-.484a3.368 3.368 0 1 1-6.736 0 3.368 3.368 0 0 1 6.736 0Z" fill="currentColor" fill-opacity=".12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="count-bubble absolute-bubble">0</span>
                </div>
                <h1>You haven't saved any addresses yet.</h1>
                <button type="button" class="black-btn" data-bs-toggle="offcanvas" data-bs-target="#addAddressOffcanvas" aria-controls="addAddressOffcanvas">Add address</button>
            </div>
        </div>
    </section>
    <% } else { %>

    <!-- IF THERE ARE ADDRESSES -->
    <section>
        <div class="section-wrapper">
            <div class="vstack gap-4 align-items-center justify-content-center">
                <div class="hstack gap-3 justify-content-center">
                    <span class="title">Addresses</span>
                    <span class="count-bubble"><%= addressesLength %></span>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center g-4">
                        <% addresses.forEach((item, idx) => { %>
                        <div class="col-md-6 col-lg-3">
                            <div class="address">
                                <div class="vstack gap-2 h-100">
                                    <div class="address-name">Address <%= idx+1 %></div>
                                    <p class="address-info">
                                        <%= item.firstName %> <%= item.lastName %><br>
                                        <%= item.company %><br>
                                        <%= item.phone %><br>
                                        <%= item.address %><br>
                                        <%= item.city %><br>
                                        <%= item.zipCode %><br>
                                        <%= item.country %>
                                    </p>
                                    <div class="hstack gap-3 pt-2 mt-auto">
                                        <span class="address-link" onclick="editAddress('<%= item.id %>')">Edit</a>
                                    </div>     
                                </div>
                            </div>
                        </div>
                        <% }) %>
                   </div>
                </div>
                <button type="button" class="black-btn" data-bs-toggle="offcanvas" data-bs-target="#addAddressOffcanvas" aria-controls="addAddressOffcanvas">Add address</button>
            </div>
        </div>
    </section>
    <% } %>

    <!-- Add Address Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="addAddressOffcanvas" aria-labelledby="addAddressOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="addAddressOffcanvasLabel">Add address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="vstack gap-4">
                <p>Please fill in the information below:</p>
                <form class="row g-3" id="addAddressForm">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" required>
                            <label for="firstName">First name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" required>
                            <label for="lastName">Last name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="company" name="company" placeholder="Company" required>
                            <label for="company">Company</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="addPhone" name="phone" placeholder="Phone" required>
                            <label for="addPhone">Phone</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                            <label for="address">Address</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Zip code" required>
                            <label for="zipCode">Zip code</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="country" name="country" placeholder="Country" required>
                            <label for="country">Country</label>
                        </div>
                    </div>
                    <button type="submit" class="black-btn">Save address</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Update Address Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="updateAddressOffcanvas" aria-labelledby="updateAddressOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="updateAddressOffcanvasLabel">Update address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="vstack gap-4">
                <form class="row g-3" id="updateAddressForm">
                    <input type="hidden" id="addressID" name="addressID" value="">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateFirstName" name="firstName" placeholder="First name" required>
                            <label for="updateFirstName">First name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateLastName" name="lastName" placeholder="Last name" required>
                            <label for="updateLastName">Last name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateCompany" name="company" placeholder="Company" required>
                            <label for="updateCompany">Company</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="updatePhone" name="phone" placeholder="Phone" required>
                            <label for="updatePhone">Phone</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateAddress" name="address" placeholder="Address" required>
                            <label for="updateAddress">Address</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateCity" name="city" placeholder="City" required>
                            <label for="updateCity">City</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateZipCode" name="zipCode" placeholder="Zip code" required>
                            <label for="updateZipCode">Zip code</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="updateCountry" name="country" placeholder="Country" required>
                            <label for="updateCountry">Country</label>
                        </div>
                    </div>
                    <button type="submit" class="black-btn">Save address</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit profile offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="editProfileOffcanvas" aria-labelledby="editProfileOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="editProfileOffcanvasLabel">Edit profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="vstack gap-4">
                <form class="row g-3" id="editProfileForm">
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="id" name="id" placeholder="User ID" value="<%= user.id %>" readonly>
                            <label for="id">User ID</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="<%= user.email %>" readonly>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<% if (user.name !== undefined) { %><%= user.name %><% } %>" required>
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <select class="form-select" id="gender" name="gender">
                                <option value="Male" <% if (user.gender === "Male") { %>selected<% } %>>Male</option>
                                <option value="Female" <% if (user.gender === "Female") { %>selected<% } %>>Female</option>
                                <option value="Other" <% if (user.gender === "Other") { %>selected<% } %>>Other</option>
                            </select>
                            <label for="gender">Gender</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of birth" value="<% if (user.dob !== undefined) { %><%= user.dob %><% } %>">
                            <label for="dob">Date of birth</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" value="<% if (user.phone !== undefined) { %><%= user.phone %><% } %>">
                            <label for="phone">Phone number</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="file" class="form-control" id="avatar" name="avatar" placeholder="Avatar image">
                            <label for="avatar">Avatar image</label>
                        </div>
                    </div>
                    
                    <button type="submit" class="black-btn">Save profile</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Change Password Offcanvas -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="changePasswordOffcanvas" aria-labelledby="changePasswordOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="changePasswordOffcanvasLabel">
                <% if(user.password !== undefined) { %>
                    Change password
                <% } else { %>
                    Set a new password
                <% } %>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="vstack gap-4">
                <form id="changePasswordForm" class="row g-3">
                    <div id="changePasswordWarning" class="col-12">
                    </div>
                    <div class="col-12">
                        <% if(user.password !== undefined) { %>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="oldPassword" name="old_password" placeholder="Old password" required>
                                <label for="oldPassword">Old password</label>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="newPassword" name="new_password" placeholder="New password" required>
                            <label for="newPassword">New password</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Confirm new password" required>
                            <label for="confirmPassword">Confirm new password</label>
                        </div>
                    </div>
                    <button type="submit" class="black-btn">
                        <% if(user.password !== undefined) { %>
                            Change password
                        <% } else { %>
                            Set password
                        <% } %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>